@charset "UTF-8";


/*- background:aqua;
- background:silver;
- color:blue;
- color:red;
- font-family:verdana;
- font-size:20px;
- text-align:center;
- text-align:right;
*/

/*FONDO*/
body{
	 background-color:aqua;
}

/*Titulo arriba*/
.arriba {
   
    text-align:center;
}
/*arriba palabra naranja*/
.arriba1{
	color:coral
	
}
.cosa{
	
	color:blue;
}
.texto{
	
	color: blue;
}

/*Titulo centro*/

.centro{
	background:silver;
	 text-align:center;
	
}

/*Titulo medio*/
.medio{
	
	text-align:right;
	 
}
/*Medio palabra rojo*/

.medio1{
	color:red;
	text-align:center;
}

/*Titulo abajo*/
.abajo{
	background:silver;
	 text-align:center;
}